<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Card</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

</head>
<body>
    <div class="w-screen h-screen flex justify-center items-center ">
        <div class="m-4 p-4 border w-[500px] h-[300px] border-gray-300 bg-slate-200 rounded-lg">
            <div class="flex flex-row justify-center">
                <div class="img w-fit h-fit bg-gray-300">
                    img
                </div>
                <div class="w-fit h-fit bg-violet-300">
                    Flignt name 
                </div>
            </div>
            

        <!-- Hello from Ticket -->


        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>