.slick-prev:before,
.slick-next:before {
  color: #D7B56D;

  font-size: 40px;
  /* Set the hover color for the arrow buttons */
}

.slick-prev {
  left: -25px;
  /* Adjust position if needed */
}

.slick-next {
  right: -25px;
  /* Adjust position if needed */

}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #D7B56D;
  /* Set the hover color for the arrow buttons */
}