.phone-input-container {
    width: 100% !important;
    height: 50px !important;
    border: 1px solid rgb(111, 111, 232);
    box-sizing: border-box;
    background: transparent !important;
}

.phone-input-container input {
    width: 100% !important;
    height: 48px !important;
    background: transparent !important;
}