.react-joyride__tooltip {
  /* Ensure the tooltip is centered if there's not enough space */
  position: absolute;
  max-width: 300px; /* Adjust max width as needed */
  left: 50%;
  transform: translateX(-50%);
}

.react-joyride__tooltip--bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px); /* Adjust as needed */
}

.react-joyride__tooltip--top {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -10px); /* Adjust as needed */
}

.react-joyride__tooltip--left {
  right: 100%;
  top: 50%;
  transform: translate(-10px, -50%); /* Adjust as needed */
}

.react-joyride__tooltip--right {
  left: 100%;
  top: 50%;
  transform: translate(10px, -50%); /* Adjust as needed */
}
.react-joyride__tooltip--bottom,
.react-joyride__tooltip--top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
